<a name="props_{{name}}">
</a>
<div class="props item" id="property_{{name}}">
    `{{name}}` &lt;<strong>{{#crossLink type}}{{/crossLink}}</strong>&gt;
    {{#if final}} <em>(final)</em>{{/if}}
    {{#if static}} <em>(static)</em>{{/if}}
    <br>
    <!--<span class="foundat"><a href="{{foundAt}}">`{{file}}:{{line}}`</a></span>-->
    {{{description}}}
    <ul>
        {{#values}}
            <li>
                <p>{{{name}}}</p>
                <p>{{{description}}}</p>
            </li>
        {{/values}}
    </ul>
    {{#if example}}
        <h5>Example</h5> {{{example}}}
    {{/if}}
</div>
